//colors
$primary-blue-one: #0066f5;
$primary-blue-two: rgba(6, 53, 201, 0.44);
$secondary-blue-one: rgba(6, 53, 201, 0.12);
$primary-white: #ffffff;
$primary-white-two: #f1f2f6;
$secondary-white: #c4c4c4;
$secondary-white-two: #f3f0f0;
$secondary-white-three: #e5e5e5;
$secondary-black-one: #333;
$primary-ash-one: rgba(255, 255, 255, 0.1);
$primary-ash-two: rgba(255, 255, 255, 0.13);
$primary-grey: #807e7e;
$primary-yellow-one: #ffc400;
$black: #000000;
$black-two:#333333;
$secondary-red-one: #f11b1b;


//fonts
$main-font: 'Manrope';
$primary-font: 'Josefin';
$secondary-font: 'Cardo';
