/* colors */
primary-blue-one{color:#0066F5;}
primary-blue-two{color: rgba(6, 53, 201, 0.44);}
secondary-blue-one{color: rgba(6, 53, 201, 0.12);}
primary-white{color: #FFFFFF;}
primary-white-two{color: #F1F2F6;}
secondary-white{color: #C4C4C4;}
secondary-white-two{color: #f3f0f0;}
secondary-white-three{color:#E5E5E5;}
secondary-black-one{color: #333;}
primary-ash-one{color: rgba(255, 255, 255, 0.1);}
primary-ash-two{color: rgba(255, 255, 255, 0.13);}
primary-grey{color: #807E7E;}
primary-yellow-one{color: #FFC400;}
primary-black{color: #000000;}