@import './styles/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa');
/* Global Styles */

:root {
  --black-color: #000000;
  --dark-color: #333333;
  --white-color: #ffffff;
  --blue-color: #0066f5;
  --red-color:#ff5454;
  --light-green: #04db48;
  --deep-green: #024216;
}

/* Utilities */

/* .container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  &-header {
    margin-top: 15px;
    width: 100%;
    line-height: 27px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    @include module-display-matrix(
      flex,
      row,
      1,
      space-between,
      baseline,
      null,
      null
    );
  }
  &-timer {
    width: 277px;
    height: 27px;
    font-size: 14px;
    text-transform: capitalize;
    color: $secondary-red-one;
  }
  &-link {
    @extend .container-timer;
    color: $primary-blue-one;
    text-align: right;
    cursor: pointer;
    transition: 0.3s ease-in 0.25s;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  &-lead {
    width: 200px;
    height: 27px;
    padding-top: 45px;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #333333;
  }
} */

.center-text {
  text-align: center;
}

/* Center All */

.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* .round-img {
  border-radius: 50%;
} */

input[type='submit'],
button {
  font: inherit;
}



/* Mobile Styles */
 /* @media (max-width: 700px) {} */
  @media (max-width: 850px) {
    .hide-sm {
      display: none;
    }
    .grid-2,
    .grid-3,
    .grid-4 {
      grid-template-columns: 1fr;
    }
    /* Text Styles */
    .x-large {
      font-size: 3rem;
    }
    .large {
      font-size: 2rem;
    }
    .lead {
      font-size: 1rem;
    }
    /* Navbar */
    .navbar {
      display: block;
      text-align: center;
    }
    .navbar ul {
      text-align: center;
      justify-content: center;
    }
    .grid-2_homePage {
      grid-template-columns: 1fr;
    }
    .footer {
      display: auto;
    }
  }
